<div class="footerContainer">
  <div class="socialMedia">
    <img src="../../assets/icons/facebook.png" alt="facebook" />
    <img src="../../assets/icons/linkedin.png" alt="twitter" />
    <img src="../../assets/icons/twitter.png" alt="instagram" />
    <img src="../../assets/icons/spotify.png" alt="spotify" />
  </div>
  <div class="footerInfo">
    <p>
      Copyright © 2022 All rights reserved /
      <a
        href="https://github.com/ricardoriballo"
        target="_blank"
        rel="noreferrer"
      >
        Ricardo Riballo
      </a>
    </p>
  </div>
</div>
